{% extends "base.html" %}

{% block head %}
<script src="static/js/graph.js"></script>
<script type="text/javascript">
function ReadingListener ( jQuery ){
    console.log( "READY!" );
    
    var updateInterval = 20;
	var sensorSeconds = 5;
	var dataLength = 60;
	
    {% for sensor in sensors %}
        var dps_{{sensor}} = [];
        var chart_{{sensor}} = makeNewChart( '{{sensor.name}}',
            "{{sensor}}Container", dps_{{sensor}} );
        getSeriesData( dps_{{sensor}}, 'sensor', '{{sensor}}', sensorSeconds);
        renderChart( dps_{{sensor}}, chart_{{sensor}},
            updateInterval, dataLength );
    {% endfor %}
    
    {% for region in regions %}
        var dps_{{region}} = [];
        var chart_{{region}} = makeNewChart( '{{region}} (Region)',
            "{{region}}Container", dps_{{region}} );
        getSeriesData( dps_{{region}}, 'region', '{{region}}', sensorSeconds);
        renderChart( dps_{{region}}, chart_{{region}},
            updateInterval, dataLength );
    {% endfor %}
};

$( document ).ready( ReadingListener );
</script>
<title>AirQuality - Graphs</title>
{% endblock %}

{% block body %}
{% for region in regions %}
    <div id="{{region}}Container" style="height: 300px; width: 100%;"></div>
{% endfor %}
{% for sensor in sensors %}
    <div id="{{sensor}}Container" style="height: 300px; width: 100%;"></div>
{% endfor %}
{% endblock %}
